{% extends 'base.html.twig' %}

{% block title %}Ajouter formation{% endblock %}

{% block body %}
    <section>
        <h1 class="h1 mb-3 font-weight-normal text-center">Ajouter une nouvelle formation</h1>

        {{ include('course/_form.html.twig') }}
    </section>

{% endblock %}
