{% extends 'base.html.twig' %}

{% block title %}Modifier questionnaire{% endblock %}

{% block body %}
    <section>
        <h1 class="h3 mb-3 font-weight-normal text-center">Modifier questionnaire</h1>

        {{ include('survey/_form.html.twig') }}
    </section>

{% endblock %}
