{% extends 'base.html.twig' %}

{% block title %}Nouveau questionnaire{% endblock %}

{% block body %}
    <section>
    <h1 class="h1 mb-3 font-weight-normal text-center">Création questionnaire</h1>
    <p>Ce formulaire permet de donner les détails du questionnaire pour la formation "{{ course.title }}".</p>
    <p>Vous pourrez ensuite ajouter les questions.</p>
    {{ include('survey/_form.html.twig') }}

    </section>
{% endblock %}
