<form method="post" action="{{ path('app_question_hard_delete', {'id': question.id}) }}" onsubmit="return confirm('Voulez vous supprimer définitivement cette question, attention impossible de revenir en arriere ensuite?');">
    <input type="hidden" name="_tokenHardDelete" value="{{ csrf_token('_tokenHardDelete' ~ question.id) }}">
    <button class="btn btn-danger mx-2">!!! Suppression définitive !!!</button>
</form>
