<form method="post" action="{{ path('app_question_reset', {'id': question.id}) }}" onsubmit="return confirm('Voulez vous restaurer cette question ?');">
    <input type="hidden" name="_tokenResetQuestion" value="{{ csrf_token('_tokenResetQuestion' ~ question.id) }}">
    <button class="btn btn-danger mx-2">Restaurer</button>
</form>
