{% extends 'base.html.twig' %}

{% block title %}Message reset envoyé{% endblock %}

{% block body %}
    <p>
        Si un compte correspond à l'email indiqué, vous allez recevoir un message contenant un lien pour ré-initialiser votre mot de passe
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Pensez a verifier votre dossier span ou <a href="{{ path('app_forgot_password_request') }}">ré-essayez</a>.</p>
{% endblock %}
