<section id="homePage">
    <div class="row d-flex  justify-content-center justify-content-sm-between">
        <div class="card mx-1">
            <div class="card-header">
                Centres (utilisateurs)
            </div>
            <div class="card-body">
                <a href="#" class="btn">-> Liste des centres</a>
                <a href="{{ path('app_register_admin') }}" class="btn">-> Ajouter un centre</a>
            </div>
        </div>

        <div class="card mx-1">
            <div class="card-header">
                Formateurs (utilisateurs)
            </div>
            <div class="card-body">

                <a href="#" class="btn">-> Liste des formateurs</a>
                <a href="{{ path('app_register_admin') }}" class="btn">-> Ajouter un formateur</a>
            </div>
        </div>

        <div class="card mx-1">
            <div class="card-header">
                Candidats
            </div>
            <div class="card-body">

                <a href="#" class="btn">-> Liste des candidats</a>
                <a href="{{ path('app_register_admin') }}" class="btn">-> Ajouter candidat</a>
            </div>
        </div>

        <div class="card mx-1">
            <div class="card-header">
                Formations
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card  mx-1">
            <div class="card-header">
                Questionnaires
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card mx-1">
            <div class="card-header">
                Gestion profil
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

</section>