{{ form_start(form) }}
<div class="d-flex justify-content-around">
    {{ form_row(form.CV_file) }}
    {{ form_row(form.coverLetter) }}
</div>
<div class="d-flex justify-content-end">
    <button class="btn btn-success">Démarrer le test</button>
</div>
{{ form_end(form) }}
