{% extends 'base.html.twig' %}

{% block title %}Modifier résultat{% endblock %}

{% block body %}
    <h1 class="h1 mb-3 font-weight-normal text-center">Modifier résultat</h1>

    {{ include('result/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_result_index') }}">Retour liste</a>

    {{ include('result/_delete_form.html.twig') }}
{% endblock %}
