{% extends 'base.html.twig' %}

{% block title %}Nouvelle fiche de resultat{% endblock %}

{% block body %}
    <h1 class="h1 mb-3 font-weight-normal text-center">Créer une nouvelle fiche de résultat</h1>

    {{ include('result/_form.html.twig') }}

    <a href="{{ path('app_result_index') }}">Retour liste</a>
{% endblock %}
