
#surveyInfo, #result > div, #detail > div, #question {
    border-radius: 10px;
    padding: 10px 10px;
    background-color: var(--bg-color1);
}

#timer {
    font-size: 30px;
}


#question div {
    width: 45%;
}

#question .questionImg {
    width: 50%;
}

#answerContainer .card {
    cursor: pointer;
    transition: all .3s;
    padding: 5px;
    border-radius: 10px;
    flex-direction: row;
    min-height: 60px !important;
    margin: 5px !important;
    align-items: center;
}

#answers {
    justify-content: space-between;
}


@media screen and (max-width: 1000px) {
    #answers {
        justify-content: center;
    }

    #question div {
        width: 55%;
    }

    #question .questionImg {
        width: 40%;
    }

    #question div {
        width: 55%;
        font-size: 14px;
    }

    #question .questionImg {
        width: 40%;
    }

    #answerContainer .card {
        font-size: 14px;
    }
}


@media screen and (max-width: 800px) {
    #question div {
        width: 100%;
        font-size: 14px;
    }

    #question .questionImg {
        width: 100%;
    }

    #answerContainer .card {
        width: 90%;
    }

}

@media screen and (orientation: portrait) {
    #answerContainer .card {
        width: 90%;
    }


}