
#surveyInfo, #result>div, #detail>div, #question {
    border-radius: 10px;
    padding: 10px 10px;
    background-color: var(--bg-color1);
}


#timer {
    font-size: 30px;
}

#answer .card {
    cursor: pointer;
    transition: all .3s;
    padding: 5px;
    border-radius: 10px;
    flex-direction: row;
    width: 200px;
    min-height: 150px !important;
    margin: 5px !important;
    align-items: center;
}

#question div {
    width: 45%;
}

#question .questionImg {
    width: 50%;
}

#result div



@media screen and (max-width: 1000px) {
    #question div {
        width: 55%;
    }

    #question .questionImg {
        width: 40%;
    }
}


@media screen and (max-width: 1000px) {
    #question div {
        width: 55%;
        font-size: 14px;
    }

    #question .questionImg {
        width: 40%;
    }

    #answer .card {
        font-size: 14px;
        width: 180px;
    }
}


@media screen and (max-width: 800px) {
    #question div {
        width: 100%;
        font-size: 14px;
    }

    #question .questionImg {
        width: 100%;
    }

}