{{ form_start(form) }}
<div class="d-flex justify-content-center">
    <div>
        {{ form_widget(form) }}
        <div class="d-flex justify-content-end">
            <a class="btn btn-info mx-2" href="{{ path('app_course_index') }}"><i class="fa-solid fa-backward"></i></a>
            <button class="btn btn-success mx-2"><i class="fa-solid fa-check"></i></button>
        </div>
    </div>
</div>
{{ form_end(form) }}
