{% extends 'base.html.twig' %}

{% block title %}Nouvelle affectation{% endblock %}

{% block body %}
    <section>
        <h1 class="h3 mb-3 font-weight-normal text-center">Ajouter une affectation</h1>
        {{ include('visible_course/_form.html.twig') }}
    </section>
{% endblock %}
