{% extends 'base.html.twig' %}

{% block title %}Nouvelle affectation{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Ajouter une affectation</h1>
    <div class="form">
        {{ include('visible_course/_form.html.twig') }}

    </div>
{% endblock %}
