{# templates/bundles/TwigBundle/Exception/error404.html.twig #}

{% block title %}ERREUR 404{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Cette page n'existe pas</h1>

{% endblock %}
