{# templates/bundles/TwigBundle/Exception/error404.html.twig #}

{% block title %}ERREUR 403{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Vous n'avez pas accès à cette page</h1>

{% endblock %}
