{# templates/bundles/TwigBundle/Exception/error.html.twig #}

{% block title %}ERREUR{% endblock %}
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Page non disponible</h1>

{% endblock %}
