{% extends 'base.html.twig' %}

{% block title %}Modifier fiche candidat{% endblock %}

{% block body %}
<section>
    <h1 class="h1 mb-3 font-weight-normal text-center">Modifier fiche candidat</h1>

    {{ include('candidate/_form.html.twig') }}

</section>
{% endblock %}
