{% extends 'base.html.twig' %}

{% block title %}New Candidate{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Ajouter un candidat</h1>

    {{ include('candidate/_form.html.twig') }}


{% endblock %}
