{% extends 'base.html.twig' %}

{% block title %}Modifier fiche utilisateur{% endblock %}

{% block body %}
    <section>
        <h1 class="h1 mb-3 font-weight-normal text-center">Modifier fiche utilisateur</h1>

        {{ include('user/_form.html.twig') }}

    </section>
{% endblock %}
