<h1>Bonjour {{ candidate.firstName }} {{ candidate.LastName }}</h1>

<p>Pour démarrer le test cliquez sur le lien suivant :</p>

<a href="{{ url('app_survey_init', {token: token}) }}">Démarrer le test</a>

<p>Cordialement</p>
