<h3>Bonjour {{ candidate.firstName }} {{ candidate.LastName }}</h3>
<p>Vous recevez ce mail car le centre {{ candidate.user.userName }} vient de vous attribuer un questionnaire</p>
<p>Avant de démarrer le test veuillez vous munir d'un CV et d'une lettre de motivation au format pdf.</p>
<p>Ce test ne pourra être réalisé qu'une seule fois vous ne pourrez pas revenir dessus si vous quittez la page en cours</p>

<p>Pour démarrer le test cliquez sur le lien suivant :</p>
<a href="{{ url('app_survey_init', {token: token}) }}">Démarrer le test</a>

<p>Ceci est un mail automatique merci de ne pas répondre.</p>
<p>Pour toutes questions relatives au questionnaire merci de contacter votre centre.</p>
<p>Cordialement</p>
